.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; /* this will add space between each project-widget */
    padding: 10px; /* this will add space around the edges of the container */
    align-items: flex-start;
}

.project-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right-image {
    width:  500px;
    height: auto;
    object-fit: contain;
}

.project-widget {
    margin: 5px; /* adjust this value as needed */
}