.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* this will add space between each project-widget */
    padding: 10px;
    /* this will add space around the edges of the container */
    align-items: flex-start;
}

.project-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right-image {
    width: 625px;
    height: auto;
    object-fit: contain;
}

.right-image-two {
    width: 625px;
    height: auto;
    object-fit: contain;
    margin-top: 5px;
}

.project-widget {
    margin: 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
}

/* .chip-set {
    margin: 3px
} */

.filter {
    margin: 15px
}