.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; /* this will add space between each project-widget */
    padding: 10px; /* this will add space around the edges of the container */
}

.project-widget {
    margin: 5px; /* adjust this value as needed */
}