<mat-card class="filter">
    <mat-card-header>
        <mat-card-subtitle>Filter Tech Stack</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-chip-set selectable multiple class="chip-set">
            <mat-chip *ngFor="let tech of technologyTypes" (click)="toggleSelection(tech)"
                [highlighted]="selectedTechTypes.has(tech)">
                {{ tech }}
            </mat-chip>
        </mat-chip-set>
    </mat-card-content>
</mat-card>




<div class="project-container">
    <div class="project-list">
        <project-widget class="project-widget" [project]="project" *ngFor="let project of filteredProjects" />
    </div>
    <div class="image-container">
        <img class="right-image" src="assets/hackNCpicture.jpeg" alt="HackNC 2023">
        <img class="right-image-two" src="assets/thoughtful-nick.jpg" alt="Thoughtful Nick">
    </div>
</div>