<mat-sidenav-container>
    <mat-sidenav 
        #sidenav 
        
        mode="side" 
        opened="true">
        <mat-nav-list>
            <a mat-list-item routerLink="" class="home-button">
                <img src="assets/nick-logo.png" alt="Nick Logo" class="logo">
            </a>
            <a mat-list-item routerLink="/about-me">About Me</a>
            <a mat-list-item routerLink="/projects">Projects</a>
            <a mat-list-item routerLink="/work-experience">Work Experience</a>
            <!-- to be added later -->
            <!-- <a mat-list-item routerLink="/classes">Classes</a> -->
        </mat-nav-list> 
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary"><span>Nick Mountain</span></mat-toolbar>
        <div><router-outlet></router-outlet></div>
    </mat-sidenav-content>
    
    
</mat-sidenav-container>

