mat-list-item {
    height: 50px !important;
    line-height: 50px !important;
}

.home-button {
    height: 64px !important;
    line-height: 64px !important;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

mat-nav-list,
mat-list-item {
  margin: 0;
  padding: 0;
}
