<div class="container">
    <div class="cards">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Algorithms UTA | UNC Computer Science Department</mat-card-title>
                <mat-card-subtitle>January 2024-present</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    I am currently in my third semester as a UTA for the COMP 550 Algorithms course at UNC. I hold
                    office hours to help students and grade assignments.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Tennis Instructor | Montreat Conference Center, Montreat, NC</mat-card-title>
                <mat-card-subtitle>May-August 2023</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    I taught tennis to children ages 5-18, led pickup pickle ball for the local seniors and maintained
                    the tennis courts.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Facilities Crew | Montreat Conference Center, Montreat NC</mat-card-title>
                <mat-card-subtitle>May-August 2022</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    I set up the events, transporting tables and chairs across to campus where needed,
                    and kept all of the buildings clean and well stocked with supplies.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Server/Host/Expo | Brixx Wood Fired Pizza, Meadowmont, NC</mat-card-title>
                <mat-card-subtitle>July 2020-May 2022</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    I worked with my coworkers to keep the restaurant running smoothly, serving customers, cleaning
                    tables, and running food.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <img src="assets/facilities-crew.jpg" alt="Facilities Crew">
</div>