.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 275px; /* Set a fixed height */
}

.button-link {
    text-decoration: none;
    color: white;
}

.content {
    margin-top: 10px;
}

.card-content {
    flex-grow: 1; /* Take up as much space as possible */
}

.image-container {
    overflow: hidden; /* Hide the overflowing image */
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
}