<mat-card>
    <mat-card-header>
        <mat-card-subtitle>About this website</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
        <p>
            The purpose of this website is to provide a way for me to experiment with 
            Angular and to showcase some things that I have made and learned.
        </p>
        <p>
            If you are interested in the source code for this website, you can find it on my 
            <a class="link" href="https://github.com/nicholasmountain11/web-nick" target="_blank">GitHub</a>.
            (Feel free to give me a follow while you're there!)
        </p>
        <p>
            If you are not interested in the source code, please enjoy these 
            <a class="link" href="https://youtu.be/9VQMePrbp6U?si=najUVogeLsenR1BA" target="_blank">Roberto Firmino highlights</a>.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-subtitle>Ideas for the future</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
        <div *ngFor="let player of players">
            name: {{ player.name }}
            role: {{ player.rating }}
        </div>
    </mat-card-content>
</mat-card>

