<div class="container">
    <img src="assets/nick.jpg" alt="Nick">
    <div class="cards">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Who am I?</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    My name is Nick Mountain, and I am a Junior at the University of North Carolina, majoring 
                    in Computer Science and minoring in Applied Sciences and Engineering.
                </p>
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Hobbies and interests</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    I enjoy playing and watching soccer, disc golf, and chess.
                    I'm pretty good at soccer, mediocre at disc golf, and terrible at chess.
                    I also love coding, prehistoric predators (especially the
                    <a class="link" href="https://en.wikipedia.org/wiki/Titanoboa" target="_blank">Titanoboa</a>).
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Contact Me!</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    If you wish to contact me or see what I am up to, feel free to connect with me on 
                    <a class="link" href="https://www.linkedin.com/in/nicholas-mountain-1/" target="_blank">LinkedIn</a>, email
                    me at nicholasmountain11&#64;gmail.com, follow me on <a class="link" href="https://github.com/nicholasmountain11/web-nick" target="_blank">GitHub</a>,
                    or even follow me on <a class="link" href="https://boxd.it/3sH4f" target="_blank">Letterboxd</a>.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
