<div class="container">
    <img src="assets/nick.jpg" alt="Nick">
    <div class="cards">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Who am I?</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    My name is Nick Mountain, and I am a Junior at the University of North Carolina, majoring 
                    in Computer Science and minoring in Applied Sciences and Engineering  
                    (that's only one minor).
                </p>
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Hobbies and interests</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p>
                    I enjoy playing and watching soccer, disc golf, and chess.
                    I'm pretty good at soccer, mediocre at disc golf, and terrible at chess.
                    I also love coding, reading, prehistoric predators (especially the
                    <a class="link" href="https://en.wikipedia.org/wiki/Titanoboa" target="_blank">Titanoboa</a>),
                    and fonts (my favorite is <a class="link" href="https://en.wikipedia.org/wiki/Baskerville" target="_blank">Baskerville</a>).
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
